@import url('https://fonts.googleapis.com/css2?family=Nanum+Gothic:wght@700&display=swap');
:root {
    --green: #45df99;
    --red: #f74135;
    --white: #fff;
    --grey: #ababab;
    --black: #000;
}
body {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Nanum Gothic', sans-serif;
    background: #000000 url(https://image.ibb.co/iAH8YT/ANIbg.gif) scroll repeat;
    color: #ffffff;
    font: 12pt 'Comic Sans MS';
    text-align: center;
}
li {
    list-style: none;
}
.wrapper {
    width: 500px;
    height: 800px;
    border: 1px solid red !important;
    border-radius: 10px;
}
.guestbook {
    width: 70%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    margin: auto;
    margin-top: 30px;
}
#guestbookMent {
    width: 300px;
    height: 100px;
    text-align: center;
    font-size: 20px;
}

.name_assignment {
    width: 100%;
    display: flex;
    justify-content: space-around;
    margin-top: 5px;
}
#guestbookName {
    text-align: center;
    font-size: 16px;
}

#assignment {
    width: 20%;
    height: 35px;
    background-color: rgb(22, 209, 5);
    border-radius: 3px;
    color: var(--white);
}

ul {
    padding: 0;
    margin: 0;
}

li {
    margin-top: 30px;
    width: 300px;
    height: 100px;
    border: 1px solid red;
    border-radius: 10px;
    padding: 0;
}

.box {
    display: flex;
    justify-content: flex-start;
}
.box span {
    margin-top: 10px;
    margin-left: 10px;
}

.box1 {
    display: flex;
    justify-content: flex-end;
}

ul button {
    width: 75px;
    height: 30px;
    background-color: #45df99;
    font-size: 16px;
    color: var(--black);
    border-radius: 5px;
    margin-top: 30px;
    margin-right: 5px;
    float: right;
}
